<?xml version="1.0" encoding="UTF-8"?>

<!-- Licensed to the University Corporation for Advanced Internet
     Development, Inc. (UCAID) under one or more contributor license
     agreements.  See the NOTICE file distributed with this work for
     additional information regarding copyright ownership. The UCAID
     licenses this file to You under the Apache License, Version 2.0
     (the 'License'); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at
     
     http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an 'AS IS' BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied.  See the License for the specific language governing
     permissions and limitations under the License.  -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- The dialog to display if we sense an upgrade -->
    <Fragment>

        <UI>
            <Dialog Id="UpdateDlgShib" Width="370" Height="270" Title="[ProductName] Update">
                <!-- Stuff at the top: picture, some text, a line -->
                <Control Id="TopBitMap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" Text="WixUI_Bmp_Banner" />
                <Control Id="TopInfo" Type="Text" X="15" Y="6" Width="150" Height="12" Text="{\WixUI_Font_Title}Update Shibboleth" Transparent="yes" />
                <Control Id="TopDetailed" Type="Text" X="25" Y="24" Width="320" Height="12" Text="Update to [ProductName]" Transparent="yes" />
                <Control Id="TopLine" Type="Line" X="0" Y="44" Width="370" Height="1" />

                <!-- Where we are installing -->
                <Control Id="DescriptionLine1" Type="Text" X="25" Y="51" Height="24" Width="320" Text="The updated files for [ProductName] will be installed to [INSTALLDIR]" />

                <!-- Jetty? -->
                <Control Id="UpdateJetty" Type="CheckBox" X="25" Y="80" Height="17" Width="80" CheckBoxPropertyRef="INSTALL_JETTY" CheckBoxValue="TRUE" Text="Install Jetty" />

                <!-- Stuff at the bottom: line, Back,Next, [space] Cancel -->
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="1" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="WelcomeDlg">1</Publish>
                </Control>

                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Text="&amp;Next" Default="yes">
                    <Publish Event="AddLocal" Value="InstallJetty">INSTALL_JETTY</Publish>
                    <Publish Event="Remove" Value="InstallJetty">Not INSTALL_JETTY</Publish>
                    <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
                </Control>

                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Text="&amp;Cancel" Cancel="yes">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>
