<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="net.shibboleth.idp.attribute" level="DEBUG"/>

    <logger name="net.shibboleth.idp.saml" level="DEBUG"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%date{HH:mm:ss.SSS} - %level [%logger:%line] - %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
